/****** GENERICS ******/

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
  
body {
  font-family: sans-serif;
}
  
/****** UTILITIES ******/
  
/****** CONTENT ******/
/* creo una griglia di gioco  */
#griglia{
  width: 500px;
  height: 500px;
  background-color: cornflowerblue;
  margin: 50px auto;
}